<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bills</key>
	<array>
		<dict>
			<key>customerID</key>
			<integer>0</integer>
			<key>billID</key>
			<integer>0</integer>
			<key>billType</key>
			<string></string>
			<key>billAmount</key>
			<integer>0</integer>
			<key>manufacturerName</key>
			<string></string>
			<key>mobilePlan</key>
			<integer>0</integer>
			<key>internetUsed</key>
			<string></string>
		</dict>
		<dict/>
	</array>
</dict>
</plist>
