<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customers</key>
	<array>
		<dict>
			<key>customerID</key>
			<integer>1</integer>
			<key>customerFirstName</key>
			<string>Simar </string>
			<key>customerLastName</key>
			<string>Mahi</string>
			<key>email</key>
			<string>simar@gmail.com</string>
			<key>password</key>
			<string>mahi@123</string>
		</dict>
		<dict>
			<key>customerID</key>
			<integer>2</integer>
			<key>customerLastName</key>
			<string>Simranjit</string>
			<key>customerFirstName</key>
			<string>Singh</string>
			<key>email</key>
			<string>simranjit@gmail.com</string>
			<key>password</key>
			<string>singh123</string>
			<key>New item</key>
			<string></string>
		</dict>
		<dict>
			<key>customerID</key>
			<integer>3</integer>
			<key>customerFirstName</key>
			<string>harmanpreet</string>
			<key>customerLastName</key>
			<string>Singh</string>
			<key>email</key>
			<string>harman@yahoo.com</string>
			<key>password</key>
			<string>123456</string>
		</dict>
		<dict>
			<key>customerID</key>
			<integer>4</integer>
			<key>customerLastName</key>
			<string>varinder</string>
			<key>customerFirstName</key>
			<string>dhillon</string>
			<key>email</key>
			<string>varinder@dhillon.com</string>
			<key>password</key>
			<string>1234</string>
		</dict>
		<dict>
			<key>customerID</key>
			<integer>5</integer>
			<key>customerFirstName</key>
			<string>Charanpreet</string>
			<key>customerLastName</key>
			<string>Kaur</string>
			<key>email</key>
			<string>a</string>
			<key>password</key>
			<string>a</string>
		</dict>
	</array>
</dict>
</plist>
