<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   customers.plist
   C0765373_F2019_MAD3115_Mid-Term-Test-P2Test

   Created by simar mahi on 04/11/19.
   Copyright (c) 2019 MacStudent. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
